<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="transparent">
  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="assets/css/vendor.css">
  <link rel="stylesheet" href="assets/css/main.css">

</head>
<body>

    {{>body}}

    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/script.js"></script>

    <script>
        app.init();
    </script>

</body>
</html>